@font-face {
  font-family: 'Regular';
  src: url(Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff), url(Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2);
}
@font-face {
  font-family: 'Bold';
  src: url(Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff), url(Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff2);
}
html {
  height: 100vh;
}
html body {
  color: white;
}
html body .p3,
html body .p2,
html body .p1 {
  font-family: 'Regular', sans-serif;
}
html body h1,
html body h2 {
  font-family: 'Bold', sans-serif;
}
html body .p3 {
  font-size: 12px;
}
html body .p2 {
  font-size: 14px;
}
html body .p1 {
  font-size: 16px;
}
html body h1 {
  font-size: 80px;
}
html body h2 {
  font-size: 56px;
}
html body #fons1 {
  background-image: url("assets/back1.jpg");
}
html body #fons1 .div1 {
  margin-left: 200px;
  margin-right: 200px;
}
html body #fons1 .div1 header {
  background-color: transparent;
}
html body #fons1 .div1 header .opacitatBuscador {
  background-color: rgba(255, 255, 255, 0.205);
}
html body #fons1 .div1 header .navegacio {
  display: flex;
  justify-content: center;
}
html body #fons1 .div1 header .navegacio p:not(:first-of-type) {
  padding: 20px;
  margin-left: 30px;
}
html body #fons1 .div1 #part1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
html body #fons1 .div1 #part1 #partdreta img {
  width: 720px;
  height: 640px;
}
html body #fons1 .div1 #part1 #partdreta .paraules p {
  position: absolute;
}
html body #fons1 .div1 #part1 #partdreta .paraules p:nth-child(1) {
  top: 210px;
  left: 1070px;
  color: #1ba1ad;
}
html body #fons1 .div1 #part1 #partdreta .paraules p:nth-child(2) {
  top: 248px;
  left: 880px;
}
html body #fons1 .div1 #part1 #partdreta .paraules p:nth-child(3) {
  top: 305px;
  left: 990px;
}
html body #fons1 .div1 #part1 #partdreta .paraules p:nth-child(4) {
  top: 336px;
  right: 325px;
  color: #1ba1ad;
}
html body #fons1 .div1 #part1 #partdreta .dos {
  display: flex;
  justify-content: center;
  align-items: center;
}
html body #fons1 .div1 #part1 #partdreta .dos div {
  display: flex;
  align-items: center;
}
html body #fons1 .div1 #part1 #partdreta .dos div div {
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 850px;
}
html body #fons1 .div1 #part1 #partdreta .dos div .em1 {
  background-position: -150px -10px;
}
html body #fons1 .div1 #part1 #partdreta .dos div .em2 {
  background-position: -105px -8px;
  margin-left: 40px;
}
html body #fons1 .div1 #part1 #partdreta .dos div p {
  margin-left: 10px;
  margin-top: 10px;
}
html body #fons1 .div1 #part1 #partesquerra {
  width: 600px;
  margin-top: 40px;
}
html body #fons1 .div1 #part1 #partesquerra .exp {
  margin-top: 40px;
}
html body #fons1 .div1 #part1 #partesquerra .container {
  display: flex;
  align-items: start;
  margin-top: 30px;
  padding: 0;
}
html body #fons1 .div1 #part1 #partesquerra .container .estrella {
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 550px;
  float: left;
}
html body #fons1 .div1 #part1 #partesquerra .container .p2 {
  margin: 0;
  display: flex;
  align-items: start;
  width: 400px;
  margin-top: 3px;
}
html body #fons1 .div1 #part1 #partesquerra .botons {
  display: flex;
  align-items: center;
}
html body #fons1 .div1 #part1 #partesquerra .botons button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
  float: left;
  border-radius: 5px;
}
html body #fons1 .div1 #part1 #partesquerra .botons button .flecha {
  display: flex;
  align-items: center;
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 650px;
  float: right;
  background-position: -510px 0;
  filter: invert(71%) sepia(13%) saturate(7500%) hue-rotate(180deg) brightness(96%) contrast(213%);
  margin-left: 10px;
}
html body #fons1 .div1 #part1 #partesquerra .botons button .brujula {
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 800px;
  float: right;
  background-position: -180px 0;
}
html body #fons1 .div1 #part1 #partesquerra .botons button .p1 {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
html body #fons1 .div1 #part1 #partesquerra .botons .bot1 {
  background-color: #3ddeed;
  border: 2px solid transparent;
  color: white;
  box-shadow: 0 0 2px 1px #3ddeed;
  transition: box-shadow 0.3s;
  color: #182627;
  height: 50px;
}
html body #fons1 .div1 #part1 #partesquerra .botons .bot2 {
  margin-left: 10px;
  background-color: transparent;
  color: white;
  box-shadow: 0 0 3px 1px white;
  height: 45px;
}
html body #fons1 .div1 #part1 #partesquerra .p2 {
  margin-top: 30px;
}
html body #fons1 .div1 #part1 #partesquerra .emoticonos {
  display: flex;
}
html body #fons1 .div1 #part1 #partesquerra .emoticonos div {
  background-image: url('assets/icones_sprite.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 750px;
  border: 1px solid white;
  padding: 7px;
  border-radius: 3px;
  margin-left: 10px;
}
html body #fons1 .div1 #part1 #partesquerra .emoticonos .e1 {
  background-position: -209px -2px;
}
html body #fons1 .div1 #part1 #partesquerra .emoticonos .e2 {
  background-position: -251px -2px;
}
html body #fons1 .div1 #part1 #partesquerra .emoticonos .e3 {
  background-position: -293px -2px;
}
html body #fons1 .div1 #part1 #partesquerra .emoticonos .e4 {
  background-position: -335px -2px;
}
html body #part2 {
  background-image: url('assets/back2.png');
}
html body #part2 .contingut2 .ulleres img {
  height: 100%;
  width: 900px;
}
html body #part2 .contingut2 .col2 {
  margin-top: 60px;
}
html body #part2 .contingut2 .col2 h2 {
  width: 550px;
}
html body #part2 .contingut2 .col2 .p1 {
  background-image: url('assets/icones_sprite.png');
  background-size: 650px;
  background-position: -40px;
  width: 350px;
}
