@font-face {
    font-family: 'Regular';
    src: url(./Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff),
         url(./Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2);
}

@font-face {
    font-family: 'Bold';
    src: url(./Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff),
         url(./Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff2);
}
html{
    height: 100vh;

    body{
        color: white;

        .p3,.p2,.p1{font-family: 'Regular', sans-serif;}

        h1,h2{font-family: 'Bold', sans-serif;}

        .p3{font-size: 12px;} .p2{font-size: 14px;} .p1{font-size: 16px;}

        h1{font-size: 80px;} h2{font-size: 56px;}

        #fons1{
            background-image: url("./assets/back1.jpg");

            .div1{
                header{
                    background-color: transparent;
        
                    .opacitatBuscador{
                        background-color: rgba(255, 255, 255, 0.205);

                        .form-control{
                            background-color: transparent;
                            border: none;
                        }

                        .btn {
                            width: 50px;
                            height: 50px; 

                            .lupa{
                                background-image: url(./assets/icones_sprite.png);
                                    
                                background-repeat: no-repeat;
                                width: 30px;
                                height: 30px;
                                background-size: 750px;
                                background-position: -630px;
    
                            }
                        }
                    }   
                    
                    .si{
                        display: flex;
                        align-items: center;
                        .bosa{
                            background-image: url(./assets/icones_sprite.png);
                                    
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 30px;
                            background-size: 750px;
                            background-position: -710px;
                        }
                    }

                    .navegacio{
                        display: flex;
                        justify-content: center;
        
                        p:not(:first-of-type){
                            padding: 20px;
                            margin-left: 30px;
                        }
                    }
                }
        
                #part1{
                    display: grid;
        
                    grid-template-columns: 1fr 1fr;
                   
        
                    #partdreta{
                       
                        img{
                            width: 720px;
                            height: 640px;
                        }
        
                        .paraules{
                            p{
                                position: absolute;
                            }
        
                            p:nth-child(1){
                                top: 210px;
                                left: 1070px;
        
                                color: #1ba1ad;
                            }
        
                            p:nth-child(2){
                                top: 248px;
                                left: 880px;
                            }
        
                            p:nth-child(3){
                                top: 305px;
                                left: 990px;
                            }
        
                            p:nth-child(4){
                                top: 336px;
                                right: 325px;
        
                                color: #1ba1ad;
                            }
                        }
        
                        .dos{
                            display: flex;
                            justify-content: center;
                            align-items: center;
        
                            div{
                                display: flex;
                                align-items: center;
        
                                div{
                                    background-image: url(./assets/icones_sprite.png);
                                        
                                    background-repeat: no-repeat;
                                    width: 30px;
                                    height: 30px;
                                    background-size: 850px;
                                }
        
                                .em1{
                                    background-position: -150px -10px;
                                }
        
                                .em2{
                                    background-position: -105px -8px;
                                    margin-left: 40px;
                                }
        
                                p{
                                    margin-left: 10px;
                                    margin-top: 10px;
                                }
                            }
                        }
                        
                        
                    }
                    
                    #partesquerra{
                        width: 600px;
        
                        margin-top: 40px;
        
                        .exp {
                            margin-top: 40px;
                        }
        
                        .container {
                            display: flex;
                            align-items: start;
        
                            margin-top: 30px;
        
                            padding: 0;
                            
                            .estrella {
                                background-image: url(./assets/icones_sprite.png);
                                background-repeat: no-repeat;
                                width: 30px;
                                height: 30px;
                                background-size: 550px;
                                float: left;
                            }
                            
                            .p2 {
                                margin: 0;
                                display: flex;
                                align-items: start;
                                width: 400px;
            
                                margin-top: 3px;
                            }
                        }
        
                        .botons{
                            display: flex;
                            align-items: center;
        
                            button{
                                display: flex;
                                justify-content: center;
                                align-items: center;
            
                                margin-top: 50px;
            
                                .flecha{
                                    display: flex;
                                    align-items: center;
            
                                    background-image: url(./assets/icones_sprite.png);
                                    
                                    background-repeat: no-repeat;
                                    width: 30px;
                                    height: 30px;
                                    background-size: 650px;
                                    float: right;
                                    background-position: -510px 0;
            
                                    filter: invert(71%) sepia(13%) saturate(7500%) hue-rotate(180deg) brightness(96%) contrast(213%);
            
                                    margin-left: 10px;
                                    margin-bottom: 5px;
                                }
            
                                .brujula{
                                    background-image: url(./assets/icones_sprite.png);
                                    
                                    background-repeat: no-repeat;
                                    width: 40px;
                                    height: 40px;
                                    background-size: 800px;
                                    float: right;
                                    background-position: -180px 0;
                                }
            
                                .p1{
                                    display: flex;  
                                    align-items: center;
                                    margin-bottom: 0;
                                }
            
                                padding: 10px;
                                float: left;
            
                                border-radius: 5px;
                            }
            
                            .bot1{
                                background-color: #3ddeed;
                                border: 2px solid transparent;
                                color: white;
                                box-shadow: 0 0 2px 1px #3ddeed;
                                transition: box-shadow 0.3s;
            
                                color: #182627;
            
                                height: 50px;
                            }
            
                            .bot2{
                                margin-left: 10px;
                                background-color: transparent;
                                color: white;
                                box-shadow: 0 0 3px 1px white;
            
                                height: 45px;
                            }
                        }
        
                        .p2{
                            margin-top: 30px;
                        }
        
                        .emoticonos{
                            display: flex;
        
                            div{
                                background-image: url('./assets/icones_sprite.png');
                                background-repeat: no-repeat;
                                width: 40px;
                                height: 40px;
                                background-size: 750px;
                                border: 1px solid white;
                                padding: 7px;
        
        
                                border-radius: 3px;
        
                                margin-left: 10px;
                            }
        
                            .e1{
                                background-position: -209px -2px;
                            }
        
                            .e2{
                                background-position: -251px -2px;
                            }
        
                            .e3{
                                background-position: -293px -2px;
                            }
        
                            .e4{
                                background-position: -335px -2px;
                            }
                        }
                    }
                }
            }
        }

        #part2{
            background-image: url('./assets/back2.png');

            .contingut2{

                .ulleres{
                    border-radius: 50%;
                    img{
                        height: 100%;  width: 800px;
                    }
                }

                .col2{
                    margin-top: 100px;

                    h2{
                        width: 550px;
                    }

                    .estblava{
                        background-image: url(./assets/icones_sprite.png);
                                        
                        background-repeat: no-repeat;
                        width: 30px;
                        height: 30px;
                        background-size: 650px;
                        float: right;
                        background-position: -40px 0;
                    }

                    .p1{
                        width: 350px;
                    }
                }
            }

            .contingut3{
                .jane{
                    width: 450px;
                }

                .vhead{
                    width: 620px;
                }

                button{
                    width: 170px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #182627;
                    
                    color: #3ddeed;
                    padding: 10px;

                    .flecha{
                        background-image: url(./assets/icones_sprite.png);
                                    
                        background-repeat: no-repeat;
                        width: 30px;
                        height: 30px;
                        background-size: 650px;
                        float: right;
                        background-position: -510px 0;

                        margin-left: 15px;
                        margin-bottom: 1px;
                    }
                }

                .superpos{
                    position: relative;
                    .play{
                        height: 100%;
                        width: 550px;
                        clip-path: polygon(39% 0, 100% 0, 100% 63%, 70% 100%, 0 100%, 0 35%);
                    }
    
                    .twit{
                        height: 250px;
                        width: 340px;
                        background-color: white;

                        position: absolute;
                        top: 260px;
                        left: -130px;

                        img{
                            border-radius: 50%;
                            width: 60px;
                        }

                        color: black;

                        .gris{
                            color: rgb(134, 131, 131);
                        }

                        .blau{
                            color: rgb(0, 195, 255);
                        }

                        .coment{
                            background-image: url(./assets/icones_sprite.png);
                                    
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 30px;
                            background-size: 850px;
                            float: right;
                            background-position: -430px -4px;
                            margin-left: 35px;
                        }
                        
                        .rtt{
                            background-image: url(./assets/icones_sprite.png);
                                    
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 30px;
                            background-size: 850px;
                            float: right;
                            background-position: -575px -4px;
                            margin-left: 35px;
                        }

                        .cor{
                            background-image: url(./assets/icones_sprite.png);
                                    
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 30px;
                            background-size: 850px;
                            float: right;
                            background-position: -480px -4px;
                            margin-left: 35px;
                        }

                        .desc{
                            background-image: url(./assets/icones_sprite.png);
                                    
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 30px;
                            background-size: 850px;
                            float: right;
                            background-position: -530px -4px;
                            margin-left: 35px;
                        }
                    }
                }

                .fotos{
                    margin-top: 20px;
                    
                    position: relative;
                    .imgg {
                        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                        width: 40px;
                        height: auto;
                        border: 2px solid black;
                        position: absolute;
                    }
  
                    .imgg:nth-child(1) {
                        top: 0;
                        left: 0;
                    }

                    .imgg:nth-child(2) {
                        left: 30px;
                    }

                    .imgg:nth-child(3) {
                        left: 60px;
                    }

                    .imgg:nth-child(4) {
                        left: 90px;
                    }

                    .imgg:nth-child(5) {
                        left: 120px;
                    }

                    .text{
                        position: absolute;

                        left: 190px;
                        top: 15px;
                    }
                }     
            }

            .contingut4{
                margin-left: 200px;
                margin-right: 200px;
                margin-top: 220px;
                .botons{
                    display: flex;

                    button{
                        width: 50px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #182627;
                        
                        color: #3ddeed;
    
                        .flecha{
                            background-image: url(./assets/icones_sprite.png);
                                        
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 30px;
                            background-size: 650px;
                            float: right;
                            background-position: -510px 0;
                            margin-bottom: 5px;
                        }
                    }

                    button:nth-child(2){
                        margin-left: 10px;
                    }
                }

                .p3{
                    width: 250px;
                }

                img{
                    height: 100%;
                    width: 400px;
                    clip-path: polygon(78% 0, 100% 19%, 100% 100%, 0 100%, 0 0);
                }

                .row2{
                    display: flex;
                    align-items: center;
                }

                .p1{
                    margin-left: 65px;
                }
            }

            .contingut5{
                margin-top: 100px;
                
                .accordion{
                    .accordion-item{
                        color: white;
                        background-color: #271e33;

                        p{
                            width: 570px;
                        }
                        .accordion-header{
                            border: none;
                            .accordion-button{
                                background-color: #271e33;
                                color: white;
                            }
                        }
                    }
                }
            }

            footer{
                background-color: #271e33;
                width: 100%;
                margin-top: 50px;
                div{
                    .logo{
                        height: auto;
                        width: 180px;
                    }

                    .emotes{
                        display: flex;

                        div{
                            background-image: url('./assets/icones_sprite.png');
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 30px;
                            background-size: 750px;

                            margin-left: 20px;
                        }
                        .em1{
                            background-position: -210px;
                        }

                        .em2{
                            background-position: -253px;
                        }

                        .em3{
                            background-position: -293px;
                        }

                        .em4{
                            background-position: -335px;
                        }
                    }

                    .sub{
                        .form-control{
                            height: 60px;
                            background-color: #271e33;
                            border: 1px solid rgb(73, 73, 73);
                        }

                        .btn-primary{
                            height: 60px;
                            width: 100px;
                        }
                    }
                }
                hr{
                    height: 3px;
                    background: linear-gradient(to right, transparent, purple, transparent);
                }
            }
        }
    }
}

@media (max-width: 768px){
    html body #fons1 .div1 header .opacitatBuscador .btn {
        background-color: transparent;
    }
    html body #fons1 .div1 {
        margin-right: 200px;
    }

    html body #fons1 .div1 #part1{
        display: flex;
        flex-direction: column;
    }

    html body #fons1 .div1{
        margin-left: 50px;
    }

    html body #fons1 .div1 #part1 #partdreta .dos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    html body #fons1 .div1 #part1 #partdreta .dos div .em2{
        margin-left: 0;
    }

    html body #fons1 .div1 #part1 #partdreta img{
        width: 520px;
        height: 440px;
    }

    html body #part2 .contingut2 .ulleres img{
        height: 100%;
        width: 600px;
    }

    html body #part2 .contingut3 .jane{
        width: 100%;
        
        font-size: 46px
    }

    html body #part2 .contingut3 .superpos {
        position: static;
    }

    html body #part2 .contingut3 .superpos .twit{
        position: static;
    }

    html body #part2 .contingut3 .colll{
        margin-top: 100px;
    }

    .colsup{
        margin-top: 100px;
    }
}

@media (min-width: 1200px){
    #fons1 .div1 header .opacitatBuscador .btn {
        background-color: transparent;
    }

    #fons1 .div1 {
        margin-left: 200px;
        margin-right: 200px;
    }

    html body #part2 .contingut3{
        margin-left: 200px;
    }

    html body #part2 footer div .col1{
        margin-left: 200px;
    }

    html body #part2 footer div .col4 {
        margin-right: 200px;
    }
}