@font-face {
  font-family: 'Regular';
  src: url(Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff), url(Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2);
}
@font-face {
  font-family: 'Bold';
  src: url(Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff), url(Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff2);
}
html {
  height: 100vh;
}
html body {
  color: white;
}
html body .p3,
html body .p2,
html body .p1 {
  font-family: 'Regular', sans-serif;
}
html body h1,
html body h2 {
  font-family: 'Bold', sans-serif;
}
html body .p3 {
  font-size: 12px;
}
html body .p2 {
  font-size: 14px;
}
html body .p1 {
  font-size: 16px;
}
html body h1 {
  font-size: 80px;
}
html body h2 {
  font-size: 56px;
}
html body #fons1 {
  background-image: url("assets/back1.jpg");
}
html body #fons1 .div1 header {
  background-color: transparent;
}
html body #fons1 .div1 header .opacitatBuscador {
  background-color: rgba(255, 255, 255, 0.205);
}
html body #fons1 .div1 header .opacitatBuscador .form-control {
  background-color: transparent;
  border: none;
}
html body #fons1 .div1 header .opacitatBuscador .btn {
  width: 50px;
  height: 50px;
}
html body #fons1 .div1 header .opacitatBuscador .btn .lupa {
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 750px;
  background-position: -630px;
}
html body #fons1 .div1 header .si {
  display: flex;
  align-items: center;
}
html body #fons1 .div1 header .si .bosa {
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 750px;
  background-position: -710px;
}
html body #fons1 .div1 header .navegacio {
  display: flex;
  justify-content: center;
}
html body #fons1 .div1 header .navegacio p:not(:first-of-type) {
  padding: 20px;
  margin-left: 30px;
}
html body #fons1 .div1 #part1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
html body #fons1 .div1 #part1 #partdreta img {
  width: 720px;
  height: 640px;
}
html body #fons1 .div1 #part1 #partdreta .paraules p {
  position: absolute;
}
html body #fons1 .div1 #part1 #partdreta .paraules p:nth-child(1) {
  top: 210px;
  left: 1070px;
  color: #1ba1ad;
}
html body #fons1 .div1 #part1 #partdreta .paraules p:nth-child(2) {
  top: 248px;
  left: 880px;
}
html body #fons1 .div1 #part1 #partdreta .paraules p:nth-child(3) {
  top: 305px;
  left: 990px;
}
html body #fons1 .div1 #part1 #partdreta .paraules p:nth-child(4) {
  top: 336px;
  right: 325px;
  color: #1ba1ad;
}
html body #fons1 .div1 #part1 #partdreta .dos {
  display: flex;
  justify-content: center;
  align-items: center;
}
html body #fons1 .div1 #part1 #partdreta .dos div {
  display: flex;
  align-items: center;
}
html body #fons1 .div1 #part1 #partdreta .dos div div {
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 850px;
}
html body #fons1 .div1 #part1 #partdreta .dos div .em1 {
  background-position: -150px -10px;
}
html body #fons1 .div1 #part1 #partdreta .dos div .em2 {
  background-position: -105px -8px;
  margin-left: 40px;
}
html body #fons1 .div1 #part1 #partdreta .dos div p {
  margin-left: 10px;
  margin-top: 10px;
}
html body #fons1 .div1 #part1 #partesquerra {
  width: 600px;
  margin-top: 40px;
}
html body #fons1 .div1 #part1 #partesquerra .exp {
  margin-top: 40px;
}
html body #fons1 .div1 #part1 #partesquerra .container {
  display: flex;
  align-items: start;
  margin-top: 30px;
  padding: 0;
}
html body #fons1 .div1 #part1 #partesquerra .container .estrella {
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 550px;
  float: left;
}
html body #fons1 .div1 #part1 #partesquerra .container .p2 {
  margin: 0;
  display: flex;
  align-items: start;
  width: 400px;
  margin-top: 3px;
}
html body #fons1 .div1 #part1 #partesquerra .botons {
  display: flex;
  align-items: center;
}
html body #fons1 .div1 #part1 #partesquerra .botons button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
  float: left;
  border-radius: 5px;
}
html body #fons1 .div1 #part1 #partesquerra .botons button .flecha {
  display: flex;
  align-items: center;
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 650px;
  float: right;
  background-position: -510px 0;
  filter: invert(71%) sepia(13%) saturate(7500%) hue-rotate(180deg) brightness(96%) contrast(213%);
  margin-left: 10px;
  margin-bottom: 5px;
}
html body #fons1 .div1 #part1 #partesquerra .botons button .brujula {
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 800px;
  float: right;
  background-position: -180px 0;
}
html body #fons1 .div1 #part1 #partesquerra .botons button .p1 {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
html body #fons1 .div1 #part1 #partesquerra .botons .bot1 {
  background-color: #3ddeed;
  border: 2px solid transparent;
  color: white;
  box-shadow: 0 0 2px 1px #3ddeed;
  transition: box-shadow 0.3s;
  color: #182627;
  height: 50px;
}
html body #fons1 .div1 #part1 #partesquerra .botons .bot2 {
  margin-left: 10px;
  background-color: transparent;
  color: white;
  box-shadow: 0 0 3px 1px white;
  height: 45px;
}
html body #fons1 .div1 #part1 #partesquerra .p2 {
  margin-top: 30px;
}
html body #fons1 .div1 #part1 #partesquerra .emoticonos {
  display: flex;
}
html body #fons1 .div1 #part1 #partesquerra .emoticonos div {
  background-image: url('assets/icones_sprite.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 750px;
  border: 1px solid white;
  padding: 7px;
  border-radius: 3px;
  margin-left: 10px;
}
html body #fons1 .div1 #part1 #partesquerra .emoticonos .e1 {
  background-position: -209px -2px;
}
html body #fons1 .div1 #part1 #partesquerra .emoticonos .e2 {
  background-position: -251px -2px;
}
html body #fons1 .div1 #part1 #partesquerra .emoticonos .e3 {
  background-position: -293px -2px;
}
html body #fons1 .div1 #part1 #partesquerra .emoticonos .e4 {
  background-position: -335px -2px;
}
html body #part2 {
  background-image: url('assets/back2.png');
}
html body #part2 .contingut2 .ulleres {
  border-radius: 50%;
}
html body #part2 .contingut2 .ulleres img {
  height: 100%;
  width: 800px;
}
html body #part2 .contingut2 .col2 {
  margin-top: 100px;
}
html body #part2 .contingut2 .col2 h2 {
  width: 550px;
}
html body #part2 .contingut2 .col2 .estblava {
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 650px;
  float: right;
  background-position: -40px 0;
}
html body #part2 .contingut2 .col2 .p1 {
  width: 350px;
}
html body #part2 .contingut3 .jane {
  width: 450px;
}
html body #part2 .contingut3 .vhead {
  width: 620px;
}
html body #part2 .contingut3 button {
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #182627;
  color: #3ddeed;
  padding: 10px;
}
html body #part2 .contingut3 button .flecha {
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 650px;
  float: right;
  background-position: -510px 0;
  margin-left: 15px;
  margin-bottom: 1px;
}
html body #part2 .contingut3 .superpos {
  position: relative;
}
html body #part2 .contingut3 .superpos .play {
  height: 100%;
  width: 550px;
  clip-path: polygon(39% 0, 100% 0, 100% 63%, 70% 100%, 0 100%, 0 35%);
}
html body #part2 .contingut3 .superpos .twit {
  height: 250px;
  width: 340px;
  background-color: white;
  position: absolute;
  top: 260px;
  left: -130px;
  color: black;
}
html body #part2 .contingut3 .superpos .twit img {
  border-radius: 50%;
  width: 60px;
}
html body #part2 .contingut3 .superpos .twit .gris {
  color: #868383;
}
html body #part2 .contingut3 .superpos .twit .blau {
  color: #00c3ff;
}
html body #part2 .contingut3 .superpos .twit .coment {
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 850px;
  float: right;
  background-position: -430px -4px;
  margin-left: 35px;
}
html body #part2 .contingut3 .superpos .twit .rtt {
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 850px;
  float: right;
  background-position: -575px -4px;
  margin-left: 35px;
}
html body #part2 .contingut3 .superpos .twit .cor {
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 850px;
  float: right;
  background-position: -480px -4px;
  margin-left: 35px;
}
html body #part2 .contingut3 .superpos .twit .desc {
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 850px;
  float: right;
  background-position: -530px -4px;
  margin-left: 35px;
}
html body #part2 .contingut3 .fotos {
  margin-top: 20px;
  position: relative;
}
html body #part2 .contingut3 .fotos .imgg {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 40px;
  height: auto;
  border: 2px solid black;
  position: absolute;
}
html body #part2 .contingut3 .fotos .imgg:nth-child(1) {
  top: 0;
  left: 0;
}
html body #part2 .contingut3 .fotos .imgg:nth-child(2) {
  left: 30px;
}
html body #part2 .contingut3 .fotos .imgg:nth-child(3) {
  left: 60px;
}
html body #part2 .contingut3 .fotos .imgg:nth-child(4) {
  left: 90px;
}
html body #part2 .contingut3 .fotos .imgg:nth-child(5) {
  left: 120px;
}
html body #part2 .contingut3 .fotos .text {
  position: absolute;
  left: 190px;
  top: 15px;
}
html body #part2 .contingut4 {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 220px;
}
html body #part2 .contingut4 .botons {
  display: flex;
}
html body #part2 .contingut4 .botons button {
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #182627;
  color: #3ddeed;
}
html body #part2 .contingut4 .botons button .flecha {
  background-image: url(assets/icones_sprite.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 650px;
  float: right;
  background-position: -510px 0;
  margin-bottom: 5px;
}
html body #part2 .contingut4 .botons button:nth-child(2) {
  margin-left: 10px;
}
html body #part2 .contingut4 .p3 {
  width: 250px;
}
html body #part2 .contingut4 img {
  height: 100%;
  width: 400px;
  clip-path: polygon(78% 0, 100% 19%, 100% 100%, 0 100%, 0 0);
}
html body #part2 .contingut4 .row2 {
  display: flex;
  align-items: center;
}
html body #part2 .contingut4 .p1 {
  margin-left: 65px;
}
html body #part2 .contingut5 {
  margin-top: 100px;
}
html body #part2 .contingut5 .accordion .accordion-item {
  color: white;
  background-color: #271e33;
}
html body #part2 .contingut5 .accordion .accordion-item p {
  width: 570px;
}
html body #part2 .contingut5 .accordion .accordion-item .accordion-header {
  border: none;
}
html body #part2 .contingut5 .accordion .accordion-item .accordion-header .accordion-button {
  background-color: #271e33;
  color: white;
}
html body #part2 footer {
  background-color: #271e33;
  width: 100%;
  margin-top: 50px;
}
html body #part2 footer div .logo {
  height: auto;
  width: 180px;
}
html body #part2 footer div .emotes {
  display: flex;
}
html body #part2 footer div .emotes div {
  background-image: url('assets/icones_sprite.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 750px;
  margin-left: 20px;
}
html body #part2 footer div .emotes .em1 {
  background-position: -210px;
}
html body #part2 footer div .emotes .em2 {
  background-position: -253px;
}
html body #part2 footer div .emotes .em3 {
  background-position: -293px;
}
html body #part2 footer div .emotes .em4 {
  background-position: -335px;
}
html body #part2 footer div .sub .form-control {
  height: 60px;
  background-color: #271e33;
  border: 1px solid #494949;
}
html body #part2 footer div .sub .btn-primary {
  height: 60px;
  width: 100px;
}
html body #part2 footer hr {
  height: 3px;
  background: linear-gradient(to right, transparent, purple, transparent);
}
@media (max-width: 768px) {
  html body #fons1 .div1 header .opacitatBuscador .btn {
    background-color: transparent;
  }
  html body #fons1 .div1 {
    margin-right: 200px;
  }
  html body #fons1 .div1 #part1 {
    display: flex;
    flex-direction: column;
  }
  html body #fons1 .div1 {
    margin-left: 50px;
  }
  html body #fons1 .div1 #part1 #partdreta .dos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  html body #fons1 .div1 #part1 #partdreta .dos div .em2 {
    margin-left: 0;
  }
  html body #fons1 .div1 #part1 #partdreta img {
    width: 520px;
    height: 440px;
  }
  html body #part2 .contingut2 .ulleres img {
    height: 100%;
    width: 600px;
  }
  html body #part2 .contingut3 .jane {
    width: 100%;
    font-size: 46px;
  }
  html body #part2 .contingut3 .superpos {
    position: static;
  }
  html body #part2 .contingut3 .superpos .twit {
    position: static;
  }
  html body #part2 .contingut3 .colll {
    margin-top: 100px;
  }
  .colsup {
    margin-top: 100px;
  }
}
@media (min-width: 1200px) {
  #fons1 .div1 header .opacitatBuscador .btn {
    background-color: transparent;
  }
  #fons1 .div1 {
    margin-left: 200px;
    margin-right: 200px;
  }
  html body #part2 .contingut3 {
    margin-left: 200px;
  }
  html body #part2 footer div .col1 {
    margin-left: 200px;
  }
  html body #part2 footer div .col4 {
    margin-right: 200px;
  }
}
