@font-face {
  font-family: 'av';
  src: url(avengersfont.ttf);
}
html {
  height: 100vh;
  background-image: url(avengers_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
html body {
  text-align: center;
}
html body h1 {
  font-family: av;
  color: #0000d8;
  font-size: 100px;
  text-shadow: yellow 4px 0px 4px;
  -webkit-text-stroke: 0.5px black;
}
html body main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
html body main section {
  display: grid;
  grid-template-columns: 1fr 30px 1fr 30px 1fr;
  grid-column: 2/3;
}
html body main section picture {
  width: 100%;
  border-radius: 20px;
  background-color: black;
  box-shadow: 0.5px 0.5px 0.5px 2.3px #ffa600, 4px 4px 4px 8px #8400ff;
}
