@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Roboto:wght@300&display=swap');

html{
    header{
        font-family: 'Lato', sans-serif;
        // overflow: hidden;

        .titol {
            font-size: 25px;
            line-height: 50px;
        }
    }
    
    main{
        
        #carrousel{
            font-family: 'Lato', sans-serif;
            .shadow-lg{
                text-shadow: 5px 4px 3px rgba(39, 36, 36, 0.7);
            }

            h1{
                font-size: 70px;
            }

            h2{
                font-size: 35px;
            }

            img{
                object-fit: cover;
                height: 550px;
            }
        }

        #part2{
            #ourservice{
                h1{
                    font-family: 'Lato', sans-serif;

                    hr{
                        width: 60px;
    
                        
                    }
                    .grossor{
                        border: 2px solid black;
                    }
                }

                p{
                    font-family: 'Lato', sans-serif;
                    font-family: 'Roboto', sans-serif;
                    font-size: 23px;
                }                
            }

            #barres{
                .altura{
                    height: 40px;
                }

                p{
                    font-size: 20px;
                }
            }

            #emotes{
                .w-foto{
                    width: 90px;
                }

                h1{
                    font-size: 28px;
                }

                p{
                    width: 350px;
                }
            }

            #recomendacions{
                h1{
                    font-family: 'Lato', sans-serif;

                    hr{
                        width: 60px;
    
                        
                    }
                    .grossor{
                        border: 2px solid black;
                    }
                }

                p{
                    font-family: 'Lato', sans-serif;
                    font-family: 'Roboto', sans-serif;
                    font-size: 22px;
                }

                img{
                    height: 100%;
                }

                .hover:hover{
                    display: block;
                    background-color: red;
                }
            }

            #ourclients{
                h1{
                    font-family: 'Lato', sans-serif;

                    hr{
                        width: 60px;
    
                        
                    }
                    .grossor{
                        border: 2px solid black;
                    }
                }

                img{
                    height: 250px;
                }

                #focs{
                    background-image: url(./imatges/bengala/descarga.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;

                    h1{
                        color: white;
                        font-size: 18px;
                        font-family: 'Lato', sans-serif;
                        font-family: 'Roboto', sans-serif;
                    }

                    h2{
                        font-size: 18px;
                        font-family: 'Lato', sans-serif;
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }

            #facts{
                h1{
                    font-size: 25px;
                }

                h2{
                    font-size: 18px;
                }

                #acc{
                    width: 600px;
                }
            }

            #fun{
                h1{
                    font-size: 30px;
                    font-family: 'Lato', sans-serif;
                }
                h2{
                    font-size: 18px;
                    font-family: 'Lato', sans-serif;
                    font-family: 'Roboto', sans-serif;
                }
            }
        }
    }

    footer{
        height: 150px;
        
        h1{
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            font-family: 'Roboto', sans-serif;
        }
        svg{
            width: 30px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px){
    html main #part2 #ourservice p{
        font-size: 17px;
    }
    html main #part2 #barres p{
        font-size: 12px;
        white-space: nowrap;
    }

    html main #part2 #barres .altura{
        height: 25px;
    }

        html main #part2 #recomendacions p{
        font-size: 17px;
    }

    html main #part2 #facts #acc{
        width: 400px;
    }

    html main #part2 #ourclients #focs h1{
        font-size: 15px;
    }

    html main #part2 #ourclients #focs h2{
        font-size: 15px;
    }
}

@media only screen and (max-width: 576px){
    html main #part2 #ourservice p{
        font-size: 17px;
    }
    html main #part2 #barres p{
        font-size: 12px;
        white-space: nowrap;
    }

    html main #part2 #barres .altura{
        height: 25px;
    }

    html main #part2 #facts #acc{
        width: 100%;
    }
}